* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: 'Open Sans', sans-serif;


}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F0FFF0;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: #fff;
}

.title-second {
    color: #58af9b;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: #fff;
}
.description-second {
    color: #7f8c8d;
}


.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 180px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-second {
    background-color: #58af9b;
    border: 1px solid #58af9b;
    transition: background-color .5s;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}

.btnc {
    border-radius: 15px;
    text-transform: uppercase;
    color: #58af9b;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 180px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}


.btn-l {
    background-color: white;
    border: 1px solid #58af9b;
    transition: background-color .5s;
}
.btn-l:hover {
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}

.first-content {
    display: flex;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column {
  width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media {
    margin: 1rem 0;
}


.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 6px;
}